body {
    overflow-y: hidden;
}

.backlog {
    position: absolute;
    top: 30px;
    left: 171px;
    right: 0;
    z-index: 5;
}

.headlines-backlog {
    width: 90%;
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(61, 61, 199);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
}

.over-task {
    margin-top: 10px;
    margin-bottom: 70px;
    overflow-y: scroll;
    height: 80vh;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.assign {
    display: flex;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    min-height: 100px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 1px solid black;
    min-height: 100px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    min-height: 100px;
    padding: 20px;
}

.backlog-img {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    object-fit: cover;
}

.data {
    margin-left: 20px;
    ;
    display: flex;
    flex-direction: column;
}

.plus-button {
    padding-right: 8px;
    padding-top: 24px;
}