.board {
    display: flex;
    margin-top: 30px;
    padding: 50px;
}

.heading {
    text-align: center;
}

body {
    display: flex;
}

.task-section {
    background-color: rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
}

.card-task {
    height: 56px;
    width: 164px;
    margin-top: 8px;
    cursor: grab;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.background-board {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.card-detail {
    position: absolute;
    top: 30px;
    left: calc49vw - 100px;
    left: calc(50vw - 250px);
    width: 500px;
}

.gray-box {
    background-color: lightgray;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    border-radius: 8px;
    margin-right: 16px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}