.nav-bar {
    background-color: darkblue;
    height: 100vh;
    width: 150px;
    align-items: center;
}

.nav-link {
    color: white !important;
    width: 100%;
    text-align: center;
}

.nav-img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.active {
    border-left: 5px solid white;
}

.nav-item {
    width: 100%;
}