<ul class="nav flex-column nav-bar" onload="changeActiveSection()">
    <img class="nav-img" src="../img/joinlogo.png" alt="">
    <li class="nav-item">
        <a id="nav-item0" class="nav-link" href="../board.html"> Board </a>
    </li>
    <li class="nav-item">
        <a id="nav-item1" class="nav-link" href="../backlog.html"> Backlog </a>
    </li>
    <li class="nav-item">
        <a id="nav-item2" class="nav-link" href="../addTask.html"> Add Task </a>
    </li>
    <li class="nav-item">
        <a id="nav-item3" class="nav-link" href="#"> Help </a>
    </li>
</ul>